.button {
  margin-bottom: 25px;
  padding: 12px;
  width: 280px;

  font: inherit;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-transform: uppercase;

  background-color: @green;
  border: none;

  @media @tablet {
    margin-bottom: 0;
    padding: 15px;

    font-size: 20px;
  }

  @media @desktop {
    width: 570px;
  }
}
