.card {
  margin-bottom: 25px;

  box-shadow: 0 -1px 0 0 @gray;

  @media @tablet {
    margin-bottom: 138px;
    padding: 40px;
    padding-top: 0;
    box-sizing: border-box;
    width: 325px;

    background-color: #f2f2f2;

    box-shadow: none;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  &--more {
    position: relative;

    margin-bottom: 0;
    padding-top: 74px;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 32px;
      left: calc(50% - 15px);

      width: 30px;
      height: 2px;

      background-color: @dark-gray;

      @media @tablet {
        top: 85px;
        left: calc(50% - 30px);

        width: 60px;
      }
    }

    &::after {
      transform: rotate(90deg);
    }

    @media @tablet {
      margin-bottom: auto;
      padding-top: 165px;

      background-color: @white;

      border: 1px solid @light-gray;
    }
  }
}

.card__wrapper {
  display: flex;
  align-items: center;

  @media @tablet {
    flex-direction: column;
    align-items: center;
  }
}

.card__image {
  width: 140px;

  @media @tablet {
    width: auto;
    margin-bottom: 32px;
    margin-top: -44px;

    &--big {
      margin-top: -80px;
    }
  }
}

.card__details {
  flex-grow: 1;

  @media @tablet {
    width: 245px;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 45px;

  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media @tablet {
    margin: 0 auto;
    margin-bottom: 15px;
    padding-right: 0;
    width: 145px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__table {
  width: 100%;

  font-family: "Arial", sans-serif;
  border-collapse: collapse;

  @media @tablet {
    margin-bottom: 35px;

    font-size: 16px;
    line-height: 20px;
  }
}

.card__table td {
  @media @tablet {
    padding: 5px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__table td:last-child {
  text-align: right;
}

.card__description {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media @tablet {
    margin-bottom: 17px;
    padding: 0 35px;

    font-size: 20px;
    line-height: 22px;
  }
}

.card__text {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;

  @media @tablet {
    margin-bottom: 90px;

    font-size: 18px;
    line-height: 20px;
  }
}
