.card {
  padding: 20px 0;
  box-shadow: 0 -1px 0 0 @gray;
}

.card__wrapper {
  display: flex;
  align-items: center;
}

.card__image,
.card__details {
  flex-basis: 140px;
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 45px;

  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.card__table {
  width: 100%;

  border-collapse: collapse;
}

.card__table td:last-child {
  text-align: right;
}

.card__description {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.card__text {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
}

.card__link {
  display: block;
  width: auto;
  padding: 8px;

  color: @white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @green;

  &--all {
    color: @black;

    background-color: @light-gray;
  }
}
