.contact {
  &--inner {
    background-color: @light-gray;
  }

  @media @desktop {
    position: absolute;
    top: 95px;
    left: 110px;

    background-color: @white;
  }
}

.contact__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;

  @media @tablet {
    padding: 67px 42px;
  }

  @media @desktop {
    padding: 60px 50px;
    width: 570px;
    box-sizing: border-box;
  }
}

.contact__text {
  margin: 0;

  font-size: 16px;
  text-transform: uppercase;

  @media @tablet {
    width: 200px;

    font-size: 20px;
    line-height: 25px;
  }
}

.contact__address {
  font-style: normal;

  @media @tablet {
    width: 210px;

    font-size: 16px;
    line-height: 20px;
  }
}
