.data {
  margin: 0;
  padding: 0;

  list-style: none;

  @media @desktop {
    &--contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      .data__item {
        width: 570px;
      }
    }
  }
}

.data__item {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  @media @tablet {
    padding-right: 35px;
    padding-left: 40px;
  }

  @media @desktop {
    padding-right: 0;
    padding-left: 0;
  }
}

.data__label {
  flex-shrink: 0;
  margin-right: 15px;

  font-size: 16px;
  text-transform: uppercase;

  @media @tablet {
    font-size: 20px;
    line-height: 20px;
  }
}

.data__input {
  padding: 10px;
  padding-right: 35px;
  width: 100%;

  font: inherit;
  font-size: 16px;

  outline: none;

  @media @tablet {
    padding: 10px 20px;
    padding-right: 35px;

    font-size: 20px;
    line-height: 20px;
  }

  .placeholder({
    color: @dark-gray;
    text-transform: uppercase;
  });

  &:hover,
  &:focus {
    border: 2px solid @dark-gray;
  }
}

.data__icon {
  position: absolute;
  right: 14px;

  @media @tablet {
    right: 50px;
  }

  @media @desktop {
    right: 15px;
  }
}
