.form__fieldset-wrapper {
  @media @desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  border: 0;

  &--data-pet {
    @media @desktop {
      width: 570px;
    }
  }

  &--goal {
    &::before,
    &::after {
      content: "";

      position: absolute;

      width: 100%;
      height: 1px;

      background-color: @gray;

      @media @tablet {
        display: none;
      }
    }

    &::before {
      top: -26px;
    }

    &::after {
      bottom: -26px;
    }

    @media @tablet {
      margin: 0 auto;
      padding: 35px 30px;
      box-sizing: border-box;
      width: 630px;

      border: 1px solid @gray;
    }

    @media @desktop {
      margin: 0;
      padding: 33px 30px;
      width: 570px;
    }
  }

  &--contact,
  &--comment {
    margin-bottom: 27px;
  }

  @media @tablet {
    margin-bottom: 70px;

    &--additionally {
      margin-bottom: 12px;
    }
  }

  &--contact {
    @media @desktop {
      margin-bottom: 52px;
    }
  }

  &--additionally {
    @media @desktop {
      margin-bottom: 20px;
    }
  }
}

.form__legend {
  position: relative;

  margin-bottom: 30px;
  padding: 0;
  padding-right: 20px;

  font-size: 24px;
  line-height: 28px;

  background-color: @white;

  &--contact {
    width: 190px;

    @media @tablet {
      width: auto;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 17px;
    z-index: -1;

    width: 100vw;
    height: 3px;

    background-color: @green;
  }

  @media @tablet {
    margin-bottom: 65px;
    padding-right: 40px;
    padding-left: 40px;

    font-size: 36px;
    line-height: 40px;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 25px;

      display: block;
      width: 100vw;
      height: 3px;

      background-color: @green;

      z-index: -1;
    }

    &::before {
      right: 100%;
    }
  }
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media @tablet {
    &--additionally {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 630px;
    }
  }

  @media @desktop {
    &--additionally {
      width: 1220px;
    }
  }
}

.form__item {
  position: relative;

  margin-bottom: 25px;
  padding-left: 45px;

  &:last-child {
    margin-bottom: 0;
  }

  @media @tablet {
    margin-bottom: 30px;
    padding-left: 60px;

    &--additionally {
      margin-bottom: 50px;
      width: 225px;
    }
  }

  @media @desktop {
    &--additionally {
      width: 245px;
      box-sizing: border-box;
    }
  }
}

.form__label {
  font-size: 16px;
  text-transform: uppercase;

  cursor: pointer;

  &--radio {
    &::before {
      content: "";

      position: absolute;
      top: -6px;
      left: 0;

      padding: 7px;
      box-sizing: border-box;
      width: 30px;
      height: 30px;

      border-radius: 50%;
      border: 1px solid @gray;

      @media @tablet {
        top: -10px;

        padding: 10px;
        width: 40px;
        height: 40px;
      }
    }
  }

  &--check {
    &::before {
      content: "";

      position: absolute;
      top: -8px;
      left: 0;

      width: 30px;
      height: 30px;

      border: 1px solid @gray;

      @media @tablet {
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      content: "";

      position: absolute;
      top: -2px;
      left: 8px;

      width: 24px;
      height: 8px;

      border-left: solid 3px @green;
      border-bottom: solid 3px @green;

      transform: rotate(-45deg);

      opacity: 0;

      @media @tablet {
        top: 4px;
        left: 10px;
      }
    }
  }

  @media @tablet {
    font-size: 20px;
    line-height: 20px;
  }

  &:active {
    opacity: 0.6;
  }
}

.form__label:hover::before,
.form__input:focus + .form__label::before {
  border: 1px solid @dark-gray;
}

.form__input:checked ~ .form__label--radio::before {
  background-color: @green;
  background-clip: content-box;
}

.form__input:checked + .form__label--check::after {
  opacity: 1;
}

.form__textarea {
  padding: 15px 12px;
  box-sizing: border-box;
  width: 100%;
  height: 150px;

  font: inherit;
  font-size: 16px;

  resize: none;

  .placeholder({
    color: @dark-gray;
    text-transform: uppercase;
  });

  @media @tablet {
    display: block;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    width: 630px;
    height: 178px;

    font-size: 20px;
    line-height: 20px;
  }

  @media @desktop {
    width: 1220px;
  }

  &:hover,
  &:focus {
    border: 1px solid @dark-gray;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media @tablet {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 72px;
    width: 630px;
  }

  @media @desktop {
    margin-bottom: 0;
    width: 1220px;
  }
}

.form__details {
  display: block;
  text-align: center;

  @media @tablet {
    font-size: 18px;
    line-height: 20px;
  }

  @media @desktop {
    width: 570px;

    text-align: left;
  }
}
