.header {
  position: relative;
}

.header__wrapper {
  @media @tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
  }

  @media @desktop {
    margin: 0 auto;
    padding: 55px 40px;
    width: 1220px;
  }
}

.header__logo {
  padding: 10px 50px 14px 20px;

  @media @tablet {
    padding: 0;
  }
}
