.intro {
  padding: 25px 0;

  background-color: @green;
  background-image: linear-gradient(to top, @white 77px, transparent 77px), url("../img/raster/index-background-mobile@1x.jpg"), linear-gradient(to top, @white 76px, @green 76px);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: @white;
}

.intro__text {
  margin: 0;
  margin-bottom: 25px;

  text-align: center;
  color: @white;
}
