@media @mobile-only {
  .intro {
    background-color: @green;
    background-image: linear-gradient(to top, @white 97px, transparent 97px), url("../img/raster/index-background-mobile@1x.jpg"), linear-gradient(to top, @white 216px, @green 216px);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: linear-gradient(to top, @white 97px, transparent 97px), url("../img/raster/index-background-mobile@2x.jpg"), linear-gradient(to top, @white 216px, @green 216px);
    }
  }
}

.intro__wrapper {
  @media @desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.intro__content {
  color: @white;
  text-align: center;

  @media @tablet {
    padding: 0 90px;
    width: 427px;

    color: @black;
    text-align: left;
  }

  @media @desktop {
    padding: 0 80px;
    padding-right: 0;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 36px;
  font-weight: 400;
  line-height: 38px;

  @media @tablet {
    margin-bottom: 37px;

    font-size: 60px;
    line-height: 62px;
  }

  @media @desktop {
    margin-bottom: 40px;
  }
}

.intro__text {
  margin: 0;
  margin-bottom: 20px;

  text-transform: uppercase;

  @media @tablet {
    font-size: 20px;
    line-height: 22px;
  }
}

.intro__picture {
  margin-bottom: 12px;
  display: block;

  @media @tablet {
    margin-bottom: 0;
  }

  @media @desktop {
    margin-top: -50px;
    margin-left: -55px;
  }
}

.intro__img {
  display: block;
  width: 100%;
  height: auto;
}
