.link {
  display: block;
  width: auto;
  padding: 10px;

  color: @white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @green;

  &--all-products {
    color: @black;

    background-color: @light-gray;
  }

  @media @tablet {
    &--big {
      padding: 15px 27px;

      font-size: 20px;
      line-height: 22px;
    }

    &--position {
      position: absolute;
      top: 230px;
      left: 119px;
    }
  }

  @media @desktop {
    &--position {
      top: 240px;
    }
  }
}

