.link {
  display: block;
  width: auto;
  padding: 10px;

  color: @white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @green;

  transition: 0.2s;

  &--all-products {
    color: @black;

    background-color: @light-gray;
  }

  @media @tablet {
    &--big {
      padding: 15px 27px;

      font-size: 20px;
      line-height: 22px;
    }

    &--position {
      position: absolute;
      top: 230px;
      left: 119px;
    }
  }

  @media @desktop {
    &--position {
      top: 240px;
    }
  }

  &:hover,
  &:focus {
    background-color: darken(@green, 5%);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: darken(@green, 10%);
  }
}

.link--all-products:hover,
.link--all-products:focus {
  background-color: darken(@light-gray, 5%);
}

.link--all-products:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: darken(@light-gray, 10%);
}
