.logo {
  display: flex;
  align-items: center;

  &--footer {
    justify-content: center;
    margin-bottom: 34px;
    padding-right: 0;

    @media @tablet {
      justify-content: flex-start;
      margin-bottom: 0;
      width: 190px;
    }
  }
}

.logo__icon {
  &--cat {
    @media @tablet {
      display: none;
    }
  }

  &--cat-hero {
    display: none;

    @media @tablet {
      display: block;
    }

    @media @desktop {
      display: none;
    }
  }

  &--cat-superhero {
    display: none;

    @media @desktop {
      display: block;
    }
  }
}

.logo__icon-text {
  margin: 0 auto;

  @media @tablet {
    display: none;
  }
}
