.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 0;

  list-style: none;

  box-shadow: 0 1px 0 0 darken(@gray, 5%), 0 -1px 0 0 darken(@gray, 5%);

  @media @tablet {
    flex-grow: 1;
    margin-right: 50px;
    margin-bottom: 0;

    box-shadow: none;
  }
}

.socials__item {
  flex-basis: 50px;
  text-align: center;

  @media @tablet {
    text-align: right;
  }
}

.socials__link {
  outline: none;

  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: @green;
  }

  &:active .socials__icon {
    fill: darken(@green, 10%);
  }
}

.socials__icon {
  fill: @dark-gray;

  transition: 0.2s;

  @media @tablet {
    &--vk {
      width: 33px;
      height: 17px;
    }

    &--instagram {
      width: 26px;
      height: 25px;
    }

    &--facebook {
      width: 16px;
      height: 30px;
    }
  }
}
